<!--
This file contains html instructions to build the home page of our web app
Includes all fields we'll need on our web page
Once the predict button is clicked a prediction will be made
-->


<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  
</head>

<body>
 <div class="login">
	<h1>Predict Sales Analysis</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
    	<input type="text" name="Exit_Date" placeholder="Exit Date" required="required" />
        <input type="text" name="Year_0_Revenue" placeholder="Year 0 Revenue" required="required" />
		<input type="text" name="Year_1_Revenue" placeholder="Year 1 Revenue" required="required" />
        <input type="text" name="Year_2_Revenue" placeholder="Year 2 Revenue" required="required" />
        <input type="text" name="Year_3_Revenue" placeholder="Year 3 Revenue" required="required" />
		<input type="text" name="Loyalty_Points_Redeemed" placeholder="Loyalty Points Redeemed" required="required" />
        <input type="text" name="Warranties_Sold" placeholder="Warranties Sold" required="required" />
        <input type="text" name="Complaints_Received" placeholder="Complaints Received" required="required" />
		<input type="text" name="Contractor_Loyalty_Status_Bronze" placeholder="Contractor Loyalty Status C" required="required" />
        <input type="text" name="Contractor_Loyalty_Status_Gold" placeholder="Contractor Loyalty Status A" required="required" />
        <input type="text" name="Contractor_Loyalty_Status_Silver" placeholder="Contractor Loyalty Status B" required="required" />
		<input type="text" name="Region_M" placeholder="Region M" required="required" />
        <input type="text" name="Region_MA" placeholder="Region MA" required="required" />
        <input type="text" name="Region_MW" placeholder="Region MW" required="required" />
		<input type="text" name="Region_N" placeholder="Region N" required="required" />
        <input type="text" name="Region_S" placeholder="Region S" required="required" />
        <input type="text" name="Region_W" placeholder="Region W" required="required" />
		<input type="text" name="Region_WS" placeholder="Region WS" required="required" />
          
        

        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <br>
   <br>
   {{ prediction_text }}

 </div>


</body>
</html>
